<ion-app>
  <div id="div-superpuesto" [style.display]="splash ? 'flex': 'none'">
    <div class="div-splash">   
      <h1 style="margin-left: 4rem; bottom: 35rem; position: absolute; font-family: 'DejaVu Sans'; width: 500px;
      height: 26px;
      font-size: 30px;">Luis Nahuel Fernández</h1>   
      <img id="logo" src="assets/logo.png">  
      <h1 style="margin-left: 3.7rem; bottom: 6rem; position: absolute; color: white; font-family: 'DejaVu Sans';width: 500px;
      height: 200px;
      font-size: 100px;">PPS 4A</h1>   
    </div>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
