/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
    /* Set the background of the entire app */
    --ion-background-color:rgb(80, 57, 15);
  
    /* Set the font family of the entire app */
    --ion-font-family:bold, "times new roman";

    --ion-text-color: rgb(3, 0, 0);

   
  }

  ion-avatar{
    margin-top: 10%;
    height: 40%;
    width: 60%;
    margin-left: 20%;
    
    border:solid #5cb85c 1rem;
  }

  ion-button.centrar {
    --color: rgb(247, 244, 244);
    position: absolute;
    right: 38%;
    margin-top: 8rem;
  }

  h3{
    text-shadow: 0.1rem 0.1rem 0.5rem #5cb85c;
  }

  

  .radioB{
    text-shadow: 0.1rem 0.1rem 0.5rem #5cb85c;
      padding-left: 2rem;
      padding-top: 2rem;
  }

  .abajo{    
      position:absolute;
      bottom:1rem;       
  }
  
  

  ion-item{  
      
     border-radius: 10rem;
      border-bottom: 0.1rem solid #5cb85c;
      --ion-background-color: rgba(255, 255, 255, 0.007);
      --ion-text-color: black;
      
  }

  .alert-message.sc-ion-alert-md{
    color: black;
  }

  .alert-button.sc-ion-alert-md{
      color: green;
  }

  .danger-alert-btn {    
    --ion-text-color: red;
    --ion-border: 1rem black solid;
    --ion-background-color: rgb(135, 162, 192);
    --ion-font-family:bold, "times new roman";   
}