

  <ion-content [fullscreen]="true">  

    <div *ngIf="esAdmin">
      <ion-avatar style="margin-top: 3%;" (click)="crear()"><img src="../assets/partido.jpg" alt="18rem"></ion-avatar>
      <h3 >Crear partido</h3>
    </div>
    <ion-avatar style="margin-top: 3%;" (click)="lista()"><img src="../assets/resultados.jpg" alt="18rem"></ion-avatar>
    <h3>Ver lista de partidos</h3>
    <ion-avatar style="margin-top: 3%;" (click)="ranking()"><img src="../assets/ranking.jpg" alt="18rem"></ion-avatar>
    <h3>Ver ranking</h3>
    

  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button color="dark" (click)="cerrar()">Cerrar sesión</ion-button>
    </ion-toolbar>
  </ion-footer>
